* {
  box-sizing: border-box;
}
body {
  padding-top: 20px;
  padding-left: 20px;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

li.nav-item {
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  max-width: 60px;
  padding: 8px 12px;
  border: 0;
  outline: 0;
  border-radius: 50px;
  background-color: #2E2F42CC;
  

  font-size: 16px;
  font: inherit;
  font-weight: bold;

  color: #fff;
  
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav-link:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.nav-link:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 24px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery-image:hover {
  transform: scale(1.03);
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery-link:hover {
  cursor: zoom-in;
}

.feedback-form {

  display: flex;
  flex-direction: column;

  padding: 24px;
  max-width: 408px;
  margin: 0 auto;
  gap: 16px;
  border-radius: 8px;
  background-color: transparent; 
}

button,
input,
textarea {

  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  font: inherit;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #2E2F42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  gap: 8px;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus {
    border: 1px solid #000;
}
input:active,
textarea:active {
  border: 1px solid #808080;
}

.feedback-form button {
  padding: 8px 16px;
  background: #4E75FF;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  border: none;
  width: 95px;
}

button:hover {
  background: #6C8CFF;

}

textarea {
  resize: none;
}